hours-input {
    display: block;
}

.hours-input-out {
    margin-bottom: .5rem;
}

.hours-input-out ul {
    margin: 0;
}

hours-input select, hours-input input[type='time'] {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    height: 2rem;
}

.hours-input-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hours-input-cancel {
    /* text-decoration: underline;
    background-color: #ff8f00; */
}

.hours-input-in.active {
    padding: .5rem;
    border-top: 1pt solid #888;
    /* border-radius: .5rem; */
    /* box-shadow: 0 0 .25rem 0 #0004; */
}

.hours-input-title {
    font-weight: bold;
}