html {
    font-size: 16pt;
    font-family: monospace;
}

body {
    margin: 0;
}

button,
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='search'],
    textarea
{
    appearance: none;
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: start;
    padding: 0;
    min-width: 42pt;
    min-height: 42pt;
}

button:not(:disabled), input[type='submit']:not(:disabled) {
    cursor: pointer;
}

input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='search']:focus,
    textarea:focus
{
    outline: none;
}

@keyframes modalpop {
    0% {transform: scale(75%);}
    50% {transform: scale(112.5%);}
    100% {transform: scale(100%);}
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.gap-1rem {
    gap: 1rem;
}

.center-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}