@import url('/style/master.css');

html {
    background-color: #ffc107;
    color: #000D;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
}

header {
    padding: 1rem;
    background-color: #ffca28;
    box-shadow: 0 0 .5rem 0 #0008;
    margin-bottom: 1rem;
}

header img {
    max-width: 100%;
}

header .title {
    font-weight: bold;
}

main {
    padding: 1rem;
    flex-grow: 1;
}

footer {
    background-color: ffca28;
    box-shadow: 0 0 .5rem 0 #0008;
    margin-top: 1rem;
    padding: 1rem;
}

.register-node-card {
    background-color: #FFF;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 #0004;
    padding: 1rem;
}

#register-node {
    background-color: #ff6f00;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 #0008;
    padding: .5rem;
    color: #000D;
}

#logout {
    text-decoration: underline;
}