@import url('/style/master.css');
@import url('/agent-dashboard/hours-input.css');

html {
    background-color: #ffc107;
    color: #000D;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
}

header {
    padding: 1rem;
    background-color: #ffca28;
    box-shadow: 0 0 .5rem 0 #0008;
    margin-bottom: 1rem;
}

header img {
    max-width: 100%;
}

header .title {
    font-weight: bold;
}

main {
    padding: 1rem;
    flex-grow: 1;
}

footer {
    background-color: ffca28;
    box-shadow: 0 0 .5rem 0 #0008;
    margin-top: 1rem;
    padding: 1rem;
}

.register-node-card {
    background-color: #FFF;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 #0004;
    padding: 1rem;
}

#register-node {
    background-color: #ff6f00;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 #0008;
    padding: .5rem;
    color: #000D;
}

#register-node-modal {
    position: fixed;
    top: 10%; left: 10%;
    bottom: 10%; right: 10%;
    overflow-y: auto;
    background-color: #ffb300;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 #0008;
    animation: modalpop .3s ease;
    padding: 1rem;
    text-align: start;
}

#register-node-modal:not(.active) {
    display: none;
}

#register-node-modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#register-node-modal .header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

#register-node-modal button:not(.blanco) {
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0 0 .5rem 0 #0004;
    background-color: #ff6f00;
}

#regnode-name-input {
    background-color: #FFF;
    width: 100%;
    padding: .5rem;
    border: 1pt solid #000;
    transition: border .3s ease;
    height: 2rem;
}

#regnode-name-input:focus {
    border: 2pt solid #ff6f00;
    box-shadow: 0 0 .25rem 0 #0004;
}

#regnode-place-input {
    width: 100%;
    height: 2rem;
}

#regnode-kind-input {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem;
    width: 100%;
}

#logout {
    text-decoration: underline;
}