@import url('/style/master.css');

#not-modal {
    display: flex;
    height: 100%;
    align-items: stretch;
    transition: filter .3s ease;
}

#not-modal.modal-active {
    filter: blur(2pt);
}

.map-container {
    flex-grow: 1;
}

#map {
    height: 100%;
}

.menu {
    padding: .5rem;
    overflow-y: auto;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #f8bbd0;
    color: #000D;
}

.menu .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.menu .subtitle {
    font-size: .75rem;
    margin-bottom: 1rem;
}

.menu .cta button {
    display: flex;
    align-items: center;
    gap: .3rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: 0 0 .3rem 0 #0008;
    color: #FFFD;
}

.menu .cta a {
    text-decoration: none;
    color: inherit;
}

.menu .cta button.amber {
    background-color: #ff5722;
}

.menu .cta button.green {
    background-color: #4caf50;
}

.menu .cta button.blue {
    background-color: #2196f3;
}

.menu .cta button.purple {
    background-color: #9c27b0;
}

#register-input2.bad {
    background-color: #f4433688;
}

.modal button#forgot-password {
    background-color: #ce93d8;
    color: #000D;
}